/target/
*.DS_Store

####################################
# Vendor artifacts, removed by the #
# `cargo oro vendor` tool upon     #
# vendoring via a `git clean` run. #
####################################

# Random Vendor artifacts / Oro tooling artifacts.
/vendor/.vendor*/
/vendor/**/*._oro-prepatch

# Vendor-specific ignores
/vendor/*/tests/*
/vendor/*/examples/*
/vendor/*/benches/*
/vendor/**/.editorconfig
/vendor/**/.github/*
/vendor/**/release-plz.toml
/vendor/**/rust-toolchain.toml

!/vendor/**/.github/FUNDING.yml
!/vendor/**/.github/FUNDING.yaml

!/vendor/clap/examples/demo.rs
!/vendor/clap/examples/demo.md
!/vendor/winnow/examples/css
/vendor/winnow/examples/css/*
!/vendor/winnow/examples/css/parser.rs

/vendor/flickzeug/test-data/
vendor/flickzeug/src/patch/snapshots/

# Building on windows isn't supported to begin with.
/vendor/windows-sys/src/*
/vendor/windows-strings/src/*
/vendor/windows-result/src/*
/vendor/windows-core/src/*
/vendor/windows-interface/src/*
/vendor/windows-implement/src/*

# Neither is building on/for WASM.
/vendor/web-sys/src/*
/vendor/wasm-bindgen/src/*
/vendor/wasm-bindgen-macro/src/*
/vendor/wasm-bindgen-macro-support/src/*
/vendor/wasm-bindgen-shared/src/*

# Nor for Android.
/vendor/android_system_properties/src/*
