[package]
name              = "orok-arch-base"
version.workspace = true
description       = "Base traits and types for architecture abstraction in the Oro operating system."
publish           = false
edition           = "2024"
authors           = ["Josh Junon (https://github.com/qix-)"]
homepage          = "https://oro.sh"
repository        = "https://github.com/oro-os/kernel"
license           = "MPL-2.0"

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
orok-macro.workspace = true
