[package]
name              = "orok-x86_64"
version.workspace = true
description       = "Kernel-agnostic x86_64 types, wrappers and utilities."
publish           = false
edition           = "2024"
authors           = ["Josh Junon (https//github.com/qix-)"]
homepage          = "https://oro.sh"
repository        = "https://github.com/oro-os/kernel"
license           = "MPL-2.0"

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
orok-macro.workspace = true
orok-type.workspace = true
