[package]
name              = "orok-arch-x86_64"
version.workspace = true
description       = "x86_64 architecture-specific implementation for the Oro operating system."
publish           = false
edition           = "2024"
authors           = ["Josh Junon (https://github.com/qix-)"]
homepage          = "https://oro.sh"
repository        = "https://github.com/oro-os/kernel"
license           = "MPL-2.0"

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
orok-arch-base.workspace = true
