[alias]
kernel-x86_64 = """build \
	--target oro-kernel-arch-x86_64/x86_64-unknown-oro.json \
	--features oro-debug/uart16550 \
	--bin oro-kernel-x86_64 \
	-Zunstable-options \
	-Zbuild-std=core,compiler_builtins,alloc \
	-Zbuild-std-features=compiler-builtins-mem
"""

kernel-aarch64 = """build \
	--target oro-kernel-arch-aarch64/aarch64-unknown-oro.json \
	--features oro-debug/pl011 \
	--bin oro-kernel-aarch64 \
	-Zunstable-options \
	-Zbuild-std=core,compiler_builtins,alloc \
	-Zbuild-std-features=compiler-builtins-mem
"""

limine-x86_64 = """build \
	--target oro-kernel-arch-x86_64/x86_64-unknown-oro.json \
	--features oro-debug/uart16550 \
	--bin oro-limine-x86_64 \
	-Zunstable-options \
	-Zbuild-std=core,compiler_builtins,alloc \
	-Zbuild-std-features=compiler-builtins-mem
"""

limine-aarch64 = """build \
	--target oro-kernel-arch-aarch64/aarch64-unknown-oro.json \
	--features oro-debug/pl011 \
	--bin oro-limine-aarch64 \
	-Zunstable-options \
	-Zbuild-std=core,compiler_builtins,alloc \
	-Zbuild-std-features=compiler-builtins-mem
"""

oro-clippy = """clippy \
	--target ./oro-kernel-arch-x86_64/x86_64-unknown-oro.json \
	--target ./oro-kernel-arch-aarch64/aarch64-unknown-oro.json \
	-p oro-boot-protocol \
	-p oro-kernel-mem \
	-p oro-debug \
	-p oro-kernel-elf \
	-p oro-kernel \
	-p oro-kernel-macro \
	-p oro-kernel-macro-proc \
	-p oro-kernel-sync \
	-p oro \
	-p oro-kernel-pci \
	-Zunstable-options \
	-Zbuild-std=core,compiler_builtins,alloc \
	-Zbuild-std-features=compiler-builtins-mem
"""

oro-clippy-x86_64 = """clippy \
	--target ./oro-kernel-arch-x86_64/x86_64-unknown-oro.json \
	--features oro-debug/uart16550 \
	--bin oro-kernel-x86_64 \
	--bin oro-limine-x86_64 \
	-Zunstable-options \
	-Zbuild-std=core,compiler_builtins,alloc \
	-Zbuild-std-features=compiler-builtins-mem
"""

oro-clippy-aarch64 = """clippy \
	--target ./oro-kernel-arch-aarch64/aarch64-unknown-oro.json \
	--features oro-debug/pl011 \
	--bin oro-kernel-aarch64 \
	--bin oro-limine-aarch64 \
	-Zunstable-options \
	-Zbuild-std=core,compiler_builtins,alloc \
	-Zbuild-std-features=compiler-builtins-mem
"""

oro-doc = """doc \
	--lib \
	--document-private-items \
	--target=oro-kernel-arch-x86_64/x86_64-unknown-oro.json \
	-Zunstable-options \
	-Zbuild-std=core,compiler_builtins,alloc \
	-Zbuild-std-features=compiler-builtins-mem
"""

oro-test = """test \
	-p oro-boot \
	-p oro-boot-protocol \
	-p oro-kernel-mem \
	-p oro-debug \
	-p oro-kernel-elf \
	-p oro-kernel \
	-p oro-kernel-macro \
	-p oro-kernel-macro-proc
"""

oro-ra-x86_64 = """check \
	--quiet \
	--message-format=json \
	--keep-going \
	--target ./oro-kernel-arch-x86_64/x86_64-unknown-oro.json \
	--bin oro-kernel-x86_64 \
	--bin oro-limine-x86_64 \
	-Zunstable-options \
	-Zbuild-std=core,compiler_builtins,alloc \
	-Zbuild-std-features=compiler-builtins-mem
"""

oro-ra-aarch64 = """check \
	--quiet \
	--message-format=json \
	--keep-going \
	--target ./oro-kernel-arch-aarch64/aarch64-unknown-oro.json \
	--bin oro-kernel-aarch64 \
	--bin oro-limine-aarch64 \
	-Zunstable-options \
	-Zbuild-std=core,compiler_builtins,alloc \
	-Zbuild-std-features=compiler-builtins-mem
"""
