[future-incompat-report]
frequency = "always"

[alias]
oro = ["run", "-p", "oroutil", "--bin", "oroutil", "--features", "run-from-cargo", "--", "--_run_from_cargo_oro"]

oro-test = [
	"test",
	"-p", "oro-boot",
	"-p", "oro-boot-protocol",
	"-p", "oro-kernel-mem",
	"-p", "oro-debug",
	"-p", "oro-kernel-elf",
	"-p", "oro-kernel",
	"-p", "oro-kernel-macro",
	"-p", "oro-kernel-macro-proc",
]

oro-ra-x86_64 = [
	"check",
	"--quiet",
	"--message-format=json",
	"--keep-going",
	"--target", "./oro-kernel-arch-x86_64/x86_64-unknown-oro.json",
	"--bin", "oro-kernel-x86_64",
	"--bin", "oro-limine-x86_64",
	"-Zunstable-options",
	"-Zbuild-std=core,compiler_builtins,alloc",
	"-Zbuild-std-features=compiler-builtins-mem",
]

oro-ra-aarch64 = [
	"check",
	"--quiet",
	"--message-format=json",
	"--keep-going",
	"--target", "./oro-kernel-arch-aarch64/aarch64-unknown-oro.json",
	"--bin", "oro-kernel-aarch64",
	"--bin", "oro-limine-aarch64",
	"-Zunstable-options",
	"-Zbuild-std=core,compiler_builtins,alloc",
	"-Zbuild-std-features=compiler-builtins-mem",
]
