[package]
name = "oro-kernel-type"
version.workspace = true
description = "Primitive wrapper types used throughout the kernel"
publish = false
edition = "2024"
authors = [
	"Josh Junon (https//github.com/qix-)"
]
homepage = "https://oro.sh"
repository = "https://github.com/oro-os/kernel"
license = "MPL-2.0"

[lib]
doctest = false

[lints]
workspace = true
