[package]
name = "oro-kernel"
version.workspace = true
description = "Oro operating system kernel"
publish = false
edition = "2021"
authors = [
	"Josh Junon (https//github.com/qix-)"
]
homepage = "https://oro.sh"
repository = "https://github.com/oro-os/kernel"
license = "MPL-2.0"

[dependencies]
oro-mem.workspace = true
oro-macro.workspace = true

[lints]
workspace = true
